  .help {
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }


  .help p {
    text-align: left;
    margin: 8px;
    &:last-of-type {
      margin-bottom: 24px;
    }
  }