.main {
    text-align: center;
}

.text {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 40px;
}

.button {
    background-color: var(--button-background-color);
    font-size: 32px;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--button-border-color);
    cursor: pointer;
}

.button:hover {
    box-shadow: 8px 13px 15px 2px rgba(99, 38, 128, 0.28);
}