.mole {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -20px;
}

.small {
    width: 100px;
}

.medium {
    width: 120px;
}

.large {
    width: 160px;
}