.header {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--text-color);
    font-weight: 500;
    &:hover {
      color: var(--button-border-color);
    }
  }

  .button {
    background-color: var(--button-background-color);
    font-size: 16px;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--button-border-color);
    cursor: pointer;
    &:hover {
      box-shadow: 8px 13px 15px 2px var(--button-shadow-color);
    }
  }
  