.header {
    background-color: var(--background-color);
    padding: 20px;
}

.link {
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--text-color);
    font-weight: 500;
    &:hover {
      color: var(--button-border-color);
    }
  }
  